<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desafio Foodfy</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <a href="/"><img src="/logo.png" alt="Logo Foodfy" /></a>
            </div>
            <div class="menu">
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
        </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
</body>
</html>